# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/


.gitignore

BullsEye/BullsEye.xcodeproj/project.pbxproj

BullsEye/BullsEye/HighScoreViewController.xib

BullsEye/BullsEye/en.lproj/BullsEyeViewController.xib
