<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>2</string>
	<integer>3</integer>
	<integer>5</integer>
	<integer>7</integer>
	<integer>11</integer>
	<integer>13</integer>
	<integer>17</integer>
	<integer>19</integer>
	<integer>23</integer>
	<integer>29</integer>
	<integer>31</integer>
	<integer>37</integer>
	<integer>41</integer>
	<integer>43</integer>
	<integer>47</integer>
	<integer>53</integer>
	<integer>59</integer>
	<integer>61</integer>
	<integer>67</integer>
	<integer>71</integer>
</array>
</plist>
